* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  height: 10000px;
}

.container {
  max-width: 140rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/*COMPONENTS*/
.header {
  background: hsl(294, 54%, 27%);
  position: relative;
  position: fixed;
  width: 100%;
}
.header .container {
  transition: 1s ease;
}
.header.white {
  background: transparent;
}
.header.white .container {
  background: blue;
  border-radius: 3rem;
  margin-top: 5rem;
  transition: 2s ease;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .branding img {
  width: 4rem;
}
.header .branding h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}
.header .branding ul {
  display: none;
}
.header__nav {
  position: absolute;
  background: pink;
  top: 0rem;
  right: -100rem;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
}
.header__nav img {
  width: 15rem;
  padding: 2rem;
}
.header__nav ul.nav {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.header__nav ul.nav li {
  padding: 2rem;
}
.header__nav ul.nav li a {
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul.nav li a i {
  color: hsl(0, 0%, 0%);
  transition: 0.5s ease;
}
.header__nav ul.nav li a i.open {
  transform: rotate(90deg);
  transition: 0.5s ease;
}
.header__nav ul.nav ul.drop {
  background: red;
  margin: 0 3rem;
  max-height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
}
.header__nav ul.nav ul.drop li a {
  font-size: 1.5rem;
}
.header__nav ul.nav ul.drop.open {
  max-height: 50rem;
  transition: 0.5s ease;
}
.header__nav__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  position: absolute;
  width: 100%;
  padding: 2rem;
  bottom: 3rem;
}
.header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__actions a i {
  color: hsl(0, 0%, 100%);
}
.header__actions .toggle__menu {
  z-index: 999;
}
.header__actions .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: hsl(0, 0%, 100%);
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header__actions .toggle__menu span:nth-child(2) {
  margin: 0.3rem 0;
}
.header__actions .toggle__menu.open span {
  background-color: hsl(0, 0%, 0%);
}
.header__actions .toggle__menu.open span:first-child {
  transform: translateY(10px) rotate(225deg);
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:last-child {
  transform: translateY(-3px) rotate(-225deg);
  transition: 0.5s ease;
}
.header__actions__btn {
  display: none;
}
@media screen and (min-width: 940px) {
  .header__nav {
    display: none;
  }
  .header .branding ul {
    display: flex;
    gap: 2rem;
    margin-left: 5rem;
  }
  .header .branding ul li {
    transition: 0.5s ease;
  }
  .header .branding ul li a {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header .branding ul li a i {
    font-size: 1rem;
  }
  .header .branding ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .header__actions .toggle__menu {
    display: none;
  }
  .header__actions__btn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header__actions__btn a.sign {
    color: hsl(0, 0%, 100%);
  }
}

.btn {
  display: inline-block;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  color: hsl(0, 0%, 0%);
  font-weight: 550;
  position: relative;
  border-radius: 1rem;
}
.btn.bg--primary {
  background: hsl(294, 54%, 27%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease-in-out;
}
.btn.bg--primary::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
}
.btn.bg--primary:hover::before {
  width: 100%;
}
.btn.bg--primary:hover {
  color: hsl(294, 54%, 27%);
  z-index: 999;
  border: 1px solid hsl(294, 54%, 27%);
  transition: 0.5s ease-in-out;
}
.btn.bg--light {
  background: hsl(0, 0%, 100%);
  color: hsl(294, 54%, 27%);
  border: 1px solid hsl(294, 54%, 27%);
  transition: 0.5s ease-in-out;
}
.btn.bg--light::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(294, 54%, 27%);
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
}
.btn.bg--light:hover::before {
  width: 100%;
}
.btn.bg--light:hover {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */